  .card-container:hover {
    scale: 1.1;
    background-color: blueviolet;
    transition: all .2s ease-in;
    border-radius: 20px;
    border-color: aqua;
    border-style: solid;
    color: aqua;
  }

  .card-container {
    background-color: aqua;
    border-radius: 0px;
    border-color: aqua;
    color: blueviolet;
    border-style: solid;
  }